@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

@import '_mixins';
@import '_variables';

@import '_home';
@import '_blog';
@import '_work';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Heebo', sans-serif;
	overflow-x: hidden;
	background-color: var(--white);
}

:root {
	--primary: #FF6464;
	--secondry: #00A8CC;
	--dark: #21243D;
	--dark-mode-btn: #21243D;
	--dark-lighter: #21243dec;
	--light: #8695A4;
	--shadow-color: #bbe1fa40;
	--primary-darker: #fd4f4f;
	--bg-color: #EDF7FA;
	--hr-color: #e0e0e0;
	--data-bg: #142850;
	--white: #fff;
	--facebook-color: #385490;
	--instagram-color: #D64658;
	--twitter-color: #1C99E6;
	--linkedin-color: #0A65C1;
	--telegram-color: #1C8EBF;
}

.dark-mode {
}

.max-width {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
}

ul {
	list-style-type: none;
}

.title {
	font-weight: bold;
}

.regular-title {
	font-weight: 400;
}

.link {
	text-decoration: none;
	color: var(--dark);
}

.btn {
	width: 208px;
	height: 47px;
	font-weight: 500;
	font-size: 18px; /* in the layout 20px but I changed it to 18px */
	line-height: 29px;
	background-color: var(--primary);
	color: var(--white);
	border: none;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	border-radius: 30px;
	box-shadow: 0 3px 2px 1px var(--primary-darker);
}

.btn:active {
	box-shadow: none;
}

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}

::-webkit-scrollbar-track {
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	background-color: #555;
	border: 2px solid #333;
	border-radius: 20px;
}

::-webkit-scrollbar-corner {
	background-color: #333;
}

/* ================================ Header ================================ */

.header {
	width: 100%;
	height: 100%;
	padding: 35px 0 63px;
}

.navbar.header__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 160px;
	padding: 0 60px;
}

.light-mode-button {
	position: relative;
	width: 58px;
	height: 28px;
	background-color: var(--dark-lighter);
	border: 2px solid var(--dark-mode-btn);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
}

.light-mode-button.active {
	background-color: var(--primary);
	border-color: var(--primary-darker);
}

.light-mode-button__btn {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--primary);
	cursor: pointer;
	margin-left: 0;
	transition: margin-left 0.3s ease-in-out;
}

.light-mode-button__btn.active {
	margin-left: 30px;
	background-color: var(--dark-mode-btn);
}

.navbar__menu-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar__list-items {
	font-weight: 500;
	font-size: 20px; /* should be 18px for the beauty */
	margin-right: 35px;
}

.navbar__list-items:last-child {
	margin-right: 15px;
}

.navbar__list-items::after {
	content: '';
	width: 100%;
	height: 3px;
	display: block;
	border-radius: 3px;
	background-color: var(--dark-lighter);
	transform: scale(0);
	transition: transform 0.3s ease-in-out;
}

.navbar__list-items:hover::after {
	transform: scale(1.1);
}

.article.header__article {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article__texts {
	width: 506px;
}

.article__title {
	font-size: 44px;
	line-height: 60px;
	color: var(--dark);
	margin-bottom: 40px; /* should be 30px or 25px */
}

.article__paragragh {
	line-height: 24px;
	color: var(--dark);
}

.article__btn {
	margin-top: 38px;
}

.article__image-block {
	width: auto;
}

.article__image {
	width: 333px;
	height: 333px;
}

.main {
	width: 100%;
	height: auto;
}

.recent-posts {
	background-color: var(--bg-color);
	padding: 32px 0;
}

.recent-posts__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.recent-posts__title {
	font-size: 22px;
	color: var(--dark);
}

.recent-posts__link {
	font-weight: 400;
	font-size: 16px;
	color: var(--secondry);
}

.block-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recent-posts__cards.cards {
	width: 48%;
	padding: 24px;
	background-color: var(--white);
	box-shadow: 0px 4px 10px var(--shadow-color);
	border-radius: 4px;
}

.cards__title {
	font-size: 26px;
	line-height: 38px;
	color: var(--dark);
	margin-bottom: 23px;
}

.cards__date-text {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: var(--dark);
	margin-bottom: 19px;
}

.cards__span::after {
	content: '';
	display: block;
	width: 1px;
	height: 21px;
	background-color: var(--dark);
}

.cards__paragragh-text {
	line-height: 24px;
	color: var(--dark);
}

.featured-works {
	padding: 32px 0;
}

.featured-works__header {
	width: 100%;
	margin-bottom: 40px;
}

.featured-works__head-title {
	font-size: 22px;
	color: var(--dark);
}

.featured-works__section {
	width: 100%;
	height: 100%;
}

.featured-works__list {
	width: 100%;
}

.featured-works__items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.featured-works__image-block {
	width: 35%;
}

.featured-works__img {
	width: 100%;
}

.featured-works__texts {
	width: 60%;
}

.featured-works__title {
	font-size: 30px;
	color: var(--dark);
	margin-bottom: 25px;
}

.featured-works__date-text {
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.cards__date {
	font-weight: 900;
	font-size: 18px;
	color: var(--white);
	background: var(--data-bg);
	border-radius: 16px;
	padding: 0 10px;
}

.cards__project-name {
	font-weight: 400;
	font-size: 20px;
	color: var(--light);
}

.featured-works__paragragh {
	width: 374px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--dark);
}

.featured-works__border {
	width: 100%;
	height: 1px;
	background-color: var(--hr-color);
	margin: 35px 0;
}

.footer {
	width: 100%;
	padding: 20px 0 55px;
	text-align: center;
}

.footer__social-icons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.footer__link {
	height: 31px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--dark);
	font-size: 35px;
	margin-left: 35px;
	transition: color 0.3s ease-in-out;
}

.footer__link:first-child {
	margin-left: 0;
}

.footer__link:nth-child(1):hover {
	color: var(--facebook-color);
}

.footer__link:nth-child(2):hover {
	color: var(--instagram-color);
}

.footer__link:nth-child(3):hover {
	color: var(--twitter-color);
}

.footer__link:nth-child(4):hover {
	color: var(--linkedin-color);
}

.footer__link:nth-child(5):hover {
	color: var(--telegram-color);
}

.footer__copy-right {
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: var(--dark);
}