$primary: #FF6464;
$secondry: #00A8CC;
$dark: #21243D;
$dark-lighter: #21243dec;
$light: #8695A4;
$shadow-color: #bbe1fa40;
$primary-darker: #fd4f4f;
$bg-color: #EDF7FA;
$hr-color: #e0e0e0;
$data-bg: #142850;
$facebook-color: #385490;
$instagram-color: #D64658;
$twitter-color: #1C99E6;
$linkedin-color: #0A65C1;
$telegram-color: #1C8EBF;

.dark-mode {
	$primary: #FF6464;
	$secondry: #00A8CC;
	$dark: #21243D;
	$dark-lighter: #21243dec;
	$light: #8695A4;
	$shadow-color: #bbe1fa40;
	$primary-darker: #fd4f4f;
	$bg-color: #000000;
	$hr-color: #000000;
	$data-bg: #142850;
	$facebook-color: #000000;
	$instagram-color: #000000;
	$twitter-color: #000000;
	$linkedin-color: #000000;
	$telegram-color: #000000;
}